@inject IHttpContextAccessor httpAccessor
@inject UserCollectionBlaz.Service.ComService commentsService
@using UserCollectionBlaz.Areas.Identity.Data
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager navigationManager
@implements IAsyncDisposable

<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="d-flex flex-column comment-section">
                @if (!string.IsNullOrEmpty(UserName))
                {
                    <div class="bg-light p-2">
                        <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://www.iconfinder.com/icons/586747/avatar_robot_tech_user_picture_user_profile_account_icon" width="40" alt="none">
                            <textarea class="form-control ml-1 shadow-none textarea" placeholder="Enter your comment here" @bind="CurrentContent">

                            </textarea></div>
                        <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" @onclick="Post" type="button">Post comment</button><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></div>
                    </div>
                }
                else {
                    <p class="comment-text">Log in to leave a comment</p>
                }
                @foreach (Comment comment in PostedComments)
                {
                    <div class="bg-white p-2">
                        <div class="d-flex flex-row user-info"><img class="rounded-circle" alt="none" src="https://www.iconfinder.com/icons/586747/avatar_robot_tech_user_picture_user_profile_account_icon" width="40">
                            <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">@comment.AutorName</span><span class="date text-black-50">Posted @comment.PostedTime</span></div>
                        </div>
                        <div class="mt-2">
                            <p class="comment-text">@comment.Content</p>
                        </div>
                    </div>
                    <div class="bg-white">
                        <div class="d-flex flex-row fs-12">
                            <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                            <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                            <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                        </div>
                    </div>
                }                
            </div>
        </div>
    </div>
</div>

@code {
    private string? UserName;
    private string? UrlKey;
    private string? CurrentContent;
    private HubConnection? hubConnection;
    private List<Comment>? PostedComments;
    private bool isPosting;
    private bool isHubConnected => hubConnection?.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {
        UrlKey = navigationManager.Uri.Replace(navigationManager.BaseUri, "");
        PostedComments = commentsService.GetAllByKey(UrlKey)?.ToList() ?? new();

        hubConnection = new HubConnectionBuilder()
            .WithUrl(navigationManager.ToAbsoluteUri("/comhub"))
            .Build();
        UserName = httpAccessor.HttpContext?.User.Identity?.Name ?? string.Empty;
        hubConnection.On<Comment>("RecieveCom", (comment) =>
        {
            PostedComments.Add(comment);
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    private async Task Post()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("PostCom",
                new Comment()
                    {
                        AutorName = UserName,
                        Content = CurrentContent,
                        PlaceUrl = UrlKey,
                        PostedTime = DateTime.Now
                    });
            CurrentContent = string.Empty;
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
