@using UserCollectionBlaz.Areas.Identity.Pages.Account
@using UserCollectionBlaz.ViewModel
@inherits LayoutComponentBase
@inject IHttpContextAccessor HttpAccessor
@inject UserCollectionBlaz.Service.UserService userService

<PageTitle>UserCollectionBlaz</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <header>
        <div class="d-flex flex-row-reverse">
            @if (user is null)
            {
                <NavLink class="nav-link" Match="NavLinkMatch.All" href="account/register">
                    Register
                </NavLink>
                <NavLink class="nav-link" Match="NavLinkMatch.All" href="account/login">
                    Login
                </NavLink>
            }
            else
            {
                <NavLink class="nav-link" href=@ProfileUrl data-toggle="tooltip" data-placement="top" title=@string.Format("Lv.{0}\nPosted: {1}", user.Level, user.PostedTimes)>
                    <img class="rounded-circle" width="40" src=@user.AvatarSrc>
                    @user.UserName
                </NavLink>
                <NavLink class="nav-link" Match="NavLinkMatch.All" href="account/logout">
                    Logout
                </NavLink>
            }
            <NavLink class="nav-link">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </NavLink>
        </div>
    </header>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code{
    private UserVM? user ;
    private string? ProfileUrl;

    protected override async Task OnInitializedAsync()
    {
        user = await userService.Get(HttpAccessor.HttpContext?.User.Identity?.Name);
        ProfileUrl = "profile/" + user.UserName;
    }
}