@using UserCollectionBlaz.Areas.Identity.Data
@inject NavigationManager _Navigation
@inject Service.CollectionService _collectionService

@if (IsBadge)
{
    <span class="badge @(IsSelected ? Selected : Unselected) ms-2 mt-1 flex-sm-wrap" @onclick="Navigate">
        @TagItem.Name
    </span>
}
else
{
    <a class="nav-link" href=@($"/searching/{TagItem.Name}")>
       @TagItem.Name
    </a>
}


@code {
    [Parameter] public Tag? TagItem { get; set; }
    [Parameter] public string? Name { get; set; }
    [Parameter] public bool IsSelected { get; set; }
    [Parameter] public bool IsBadge { get; set; } = true;

        private const string Selected = "bg-primary";
        private const string Unselected = "bg-success";
    
    protected override void OnInitialized()
    {
        TagItem ??= _collectionService.GetTagFromPool(Name);
    }

    private void Navigate()
        => _Navigation.NavigateTo($"/searching/{TagItem.Name}");

}